{% extends 'jamesBlogBundle::base.html.twig' %}

{% block title %}page 1{% endblock %}

{% block body %}

{% block links %}
<a href="{{ path('james_blog_page2') }}">
	Read this blog post.</a>
        <h2>heloo</h2>
        <p>james</p>
 {% endblock %}
{% endblock %}